.header__email {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
    display: inline;
}

@media screen and (max-width: 550px) {
  .header__email {
    padding-bottom: 18px;
    margin: 0;
  }
}
